<%- include("common/header") %>

    <main>
        <section id="main-header" class="py-5 text-center container bg-lightdark">
            <h1>Profile Viewer</h1>
        </section>

        <div class="py-4 bg-dark">
            <h2 class="text-center" style="color:<%= foundUser.rank.colour %>"><%= foundUser.username %></h2>
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <table class="table table-dark">
                            <thead>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Bio</th>
                                <td><%= foundUser.bio %></td>
                              </tr>
        
                              <tr>
                                <th>Rank</th>
                                <td><span class="user-rank"><%= foundUser.rank.name %></span><span data-toggle="tooltip" title="<%= foundUser.rank.description %>"><img src="/icons/question-circle.svg" alt="RankInfo" width="16" height="16"></span></td>
                              </tr>
        
                              <tr>
                                <th>Last Active</th>
                                <td><%= foundUserUpdated %></td>
                              </tr>

                              <tr>
                                <th>Public Discoveries</th>
                                <td><%= foundUser.createdObjects.length %></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("common/footer") %>