<%- include("common/header") %>

    <main>
        <section id="main-header" class="py-5 text-center container bg-lightdark">
            <h1>Object Viewer</h1>
        </section>

        <div class="py-4 bg-dark">
            <h2 class="text-center"><%= object.name %></h2>
            <div class="container text-center">
                <img src="/images/defaultImage.png" class="mb-3 img-fluid text-center" alt="<%= object.name %>">
            </div>
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="table-responsive col-xl-7">
                        <table class="table table-dark">
                            <thead>
                            </thead>
                            <tbody>
                              <tr>
                                <th class="align-middle">Type</th>
                                <td class="align-middle"><%= object.type.name %> <span data-toggle="tooltip" title="<%= object.type.description %>"><img src="/icons/question-circle.svg" alt="Tooltip" width="16" height="16"></span></td>
                              </tr>
   
                              <tr>
                                <th class="align-middle">Description</th>
                                <td class="align-middle"><%= object.description %></td>
                              </tr>

                              <tr>
                                <th class="align-middle">Other Names</th>
                                <td class="align-middle"><%= foundObjectNames %></td>
                              </tr>

                              <tr>
                                <th class="align-middle">Apparent Magnitude</th>
                                <td class="align-middle">
                                  <% if (object.apparentMagnitude !== null) { %>
                                    <%= object.apparentMagnitude %>
                                  <% } else { %>
                                    Not given
                                  <% } %>
                                </td>
                              </tr>

                              <tr>
                                <th class="align-middle">Last Updated</th>
                                <td class="align-middle"><%= foundObjectUpdated %></td>
                              </tr>

                              <% if (user && user.id == object.uploader.id) { %>
                                <tr>
                                  <th class="align-middle">Publicity</th>
                                  <td class="align-middle">
                                    <% if (object.isPrivate) { %>
                                      <span style="color:red">PRIVATE</span>
                                    <% } else { %>
                                      <span style="color:lawngreen">PUBLIC</span>
                                    <% } %>
                                  </td>
                                </tr>
                              <% } %>
                            </tbody>
                        </table>
                        <p>Discovered by <a style="color:<%= object.uploader.rank.colour %>" href="/profile/view/<%= object.uploader.username %>"><%= object.uploader.username %></a></p>

                        <% if (user && user.id == object.uploader.id) { %>
                          <div class="mb-3 d-flex flex-row justify-content-center">
                            <a class="px-3 btn btn-success" href="/object/edit/<%= object.id %>">Edit this Object</a>
                          </div>

                          <div class="d-flex flex-row justify-content-center">
                            <form id="delete-form" action="/object/delete" method="POST" autocomplete="off">
                              <input type="hidden" value="<%= object.id %>" name="toDelete">
                              <button class="px-2 btn btn-danger">Delete this Object</button>
                            </form>
                          </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("common/footer") %>